problema 1

In [35]:
l = []
def quadrado_par(N):
    for x in range(N):
        if x%2 == 0:
            l.append(x **2)
    return l

In [36]:
quadrado_par(8)

[0, 4, 16, 36]

problema 2

In [50]:
p = []
i = []
x = 0
while x != -1:
  x = int(input('digite um numero'))
  if x %2 == 0:
    p.append(x)
  else:
    i.append(x)
print(p)
print(i)

digite um numero1
digite um numero1
digite um numero3
digite um numero8
digite um numero-1
[8]
[1, 1, 3, -1]

problema 3

In [ ]:
def conta_par(lista):
  p = []
  i = []
  for x in lista:
    if x %2 == 0:
      p.append(x)
    else:
       i.append(x)
  return len(p)

In [ ]:
conta_par([1,2,3,4,5,6,7,8,9,8,9,8,7,5,4,])

7

problema 4

In [48]:
l= []
def lista_ao_quadrado(X):
  for z in (X):
    l.append(z ** 2)
  return l

In [49]:
lista_ao_quadrado([1 , 2 , 4])

[1, 4, 16]

problema 5

In [ ]:
def decrescente(x , z):
  for numero in z:
   a = x + z
  a.sort(reverse=True)
  return a

In [ ]:
print(decrescente([1 , 2 , 3 , 4] , [6 , 7 , 8 , 9]))

[9, 8, 7, 6, 4, 3, 2, 1]

problema 6

In [51]:
def adiciona(x , *args):
  for num in args:
    x.append(num)
  return x

In [52]:
A = [ 1, 2, 3, 4,]

In [54]:
adiciona (A, 1 , 4 , 6 , 0 , 9 , 7 , 2)

[1, 2, 3, 4, 1, 4, 6, 0, 9, 7, 2]

problema 7

In [59]:
def intercept(A , B):
   set_c = set(B).intersection(set(A))
   l = list(set_c)
   l.sort()
   return l

In [60]:
A = [1 , 2 , 3 , 4 , 5, 6]
B = [1 , 4 , 7, 5 , 7 , 8]
intercept(A , B)

[1, 4, 5]

problema 8

In [63]:
def union(A , B):
   set_c = set(B).union(set(A))
   l = list(set_c)
   l.sort()
   return l

In [64]:
A = [-2, 0, 1, 2]
B = [-1, 1, 2, 10]
union(A,B)

[-2, -1, 0, 1, 2, 10]

problema 9

In [67]:
def intercept2(*args):
  D = set([])
  for l in args:
    D = D.union(set(l))
  for l in args:
    D = D.intersection(set(l))
  return list(D)

In [70]:
intercept2([1,2,3,4,5,6,7,8,9],[9,8,7,6,5],[2,3,4, 5])

[5]